*{
    margin: 0;
    padding: 0;
}

/* ***********************body*********************** */

body{
    background-color: #f2f2f2;
}

/* ***********************body*********************** */

#main{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6%;
}


/* ******************************* Table Design ******************************* */

#main > table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {background-color: rgba(200, 125, 186, .5);}

/* ******************************* Table Design ******************************* */

/* ******************************* Form Design ******************************* */



#form-section form input,select{
    width: 50%;
    margin-top: 1%;
}



/* ******************************* Form Design ******************************* */



